@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
* {
    box-sizing: border-box;
}

/* ========== Central Container ========== */
main .section.hero-container {
    margin: 0 auto;
}

main .section.hero-container h2 {
    margin-top: 1rem;
    font-size: 2.125rem;
    line-height: 1.25;
    font-weight: 400;
}
main .section.hero-container p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* ========== Slick Carousel Structure ========== */
main .section.hero-container .slick-root {
    position: relative;
    max-width: 1440px;
    touch-action: pan-y;
    user-select: none;
    padding: 0;
}

main .section.hero-container .slick-root .slick-slider {
}

main .section.hero-container .slick-root .slick-list {
    position: relative;
    width: 100vw;
    max-width: 1440px;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}

main .section.hero-container .slick-root .slick-track {
    display: flex;
    flex-direction: row;
}

main .section.hero-container .slick-root .slick-slide {
    position: relative;
    min-height: 41.25rem;
    z-index: 0;
}

main .section.hero-container .slick-root .slick-slide .slick-slide-banner {
    display: grid !important;
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-items: center;
    align-items: end;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100%;
    background-size: cover;
    background-position: right center;
    z-index: -1;

    padding: 0 1rem 6rem; /* 0 16px 96px */
}

main
    .section.hero-container
    .slick-root
    .slick-slide
    .slick-slide-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(0 0 0 / 0.2),
        rgba(0 0 0 / 0.6)
    );
}

main .section.hero-container .slick-root .hero-text {
    position: relative;
    line-height: 1.25;
    max-width: 33.75rem; /* 540px */
    text-align: center;
    color: oklch(1 0 0);
}

main .section.hero-container .slick-root .hero-text h2 {
    font-family: 'Source Serif 4';
    font-size: 40px !important;
    font-weight: 600 !important;
    margin-bottom: 0.5rem;
}

main .section.hero-container .slick-root .hero-text p {
    font-size: 14px;
    margin: 0 0 1rem;
}

main .section.hero-container .slick-root .hero-button {
    font-family: 'Mulish', sans-serif;
    display: inline-flex;
    background-color: rgb(31, 57, 255);
    color: oklch(1 0 0);
    border-radius: 1.25rem;
    font-size: 14px !important;
    font-weight: 400 !important;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.25px;
    margin-right: 0.75rem;
    margin-top: 0.75rem;
    min-width: 12rem;
    text-decoration: none !important;
    text-transform: uppercase;
}

main .section.hero-container .slick-root .slick-dots {
    position: absolute;
    bottom: 2.75rem; /* 44px */
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    margin: -6rem 0 0;
    padding: 0 0 2rem;
    list-style: none;
    text-align: center;
    line-height: 1.5;
    z-index: 1;
}

main .section.hero-container .slick-root .slick-dots li {
    height: auto;
    margin: 0;
    width: auto;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: middle;
}

main .section.hero-container .slick-root .slick-dots li button {
    display: block;
    width: 2.5rem !important;
    height: 2.5rem !important;
    margin: 0;
    padding: 0;
    background-clip: content-box !important;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.875rem;
    border-color: transparent;
    background: oklch(0.71 0.02 261.41);
    box-shadow: none;
    transition: none;
    font-size: 100%;
    touch-action: manipulation;
    user-select: none;
    appearance: none;
    outline: none;
    filter: brightness(100%);
    cursor: pointer;
    text-indent: -99999px;
    color: oklch(0.21 0.03 264.68);
}

main .section.hero-container .slick-root .slick-dots li button:focus {
    outline: 1px solid;
}

main .section.hero-container .slick-root .slick-dots li.slick-active button {
    background: oklch(21.65% 0.0051 39.38);
}

/* ======= Desktop (960px+) ======= */
@media (min-width: 960px) {
    main
        .section.hero-container
        .slick-root
        .slick-slide
        .slick-slide-banner::before {
        visibility: hidden;
    }

    main .section.hero-container .slick-root .slick-slide .slick-slide-banner {
        justify-items: center;
        align-items: center;
        grid-template-columns: 50% 50%;
        background-position: right top !important;
    }
    main .section.hero-container .slick-root .hero-text {
        color: oklch(0.24 0.02 239.53);
        text-align: left;
        width: 50vw;
    }
}
